$primary-color: #642c91;
$primary-color-light: #8445b8;

$secondary-color: #f26725;
$secondary-color-light: #ff8044;

$background-color: #1f8fce;
$background-color-dark: #0a2433;
$background-color-medium: #1a628b;
$background-color-light: #40b9ee;
$background-color-hue: #40b9ee;

$button-color: $primary-color;
$button-color-hover: $primary-color-light;
