@import url(https://fonts.googleapis.com/css?family=Merriweather);
button {
  padding: 7px 15px;
  border: 0;
  background-color: #0069a6;
  color: #fff; }
  button:hover {
    background-color: #0069a6; }

.two-col-container,
.three-col-container,
.five-col-container {
  -ms-flex-preferred-size: 100%;
      flex-basis: 100%; }

@media all and (min-width: 767px) {
  .two-col-container {
    -ms-flex-preferred-size: 50%;
        flex-basis: 50%;
    padding: 0 .5rem; }
  .three-col-container {
    -ms-flex-preferred-size: 33.33%;
        flex-basis: 33.33%;
    padding: 0 .5rem; }
  .five-col-container {
    -ms-flex-preferred-size: 20%;
        flex-basis: 20%;
    padding: 0 .5rem; } }

* {
  box-sizing: border-box; }

html,
body,
p {
  font-family: "Montserrat", sans-serif; }

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Merriweather", serif; }

a {
  color: #00a7ce; }
  a:hover {
    color: #2fc3e6; }

.page-center {
  max-width: 960px; }

.logo-center {
  text-align: center; }

.button-container-center {
  display: block;
  margin-top: 2rem;
  text-align: center; }

.opacity-background {
  background-color: rgba(0, 0, 0, 0.5); }

.divider {
  width: 100%;
  margin: 1rem 0;
  border-bottom: 1px #0069a6 solid; }

.section-divider-dark {
  width: 100%;
  margin: 1.5rem 0;
  border-bottom: 1px #fff solid; }

.hidden {
  display: none !important; }

.center {
  margin: 0 auto;
  text-align: center; }

.flex-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap; }

.full-flex {
  -ms-flex-preferred-size: 100%;
      flex-basis: 100%; }

header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: fixed;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
  height: 90px;
  padding: .5rem;
  background-color: #000;
  z-index: 2; }
  header .cfp-tagline {
    -ms-flex-preferred-size: 100%;
        flex-basis: 100%;
    margin: 10px;
    color: #fff;
    text-align: center; }
  header .logo {
    display: block;
    max-width: 200px;
    height: auto;
    margin: 15px 100px;
    text-align: center; }
  header .cfp-button-container {
    margin: 0 auto; }
  header .cfp-button {
    position: relative;
    max-width: 300px;
    margin: 0 auto;
    padding: 12px 27px;
    padding-right: 3.4em;
    border-radius: 5px;
    outline: 0;
    background-color: #0069a6;
    color: #fff;
    text-shadow: 1px 1px 0 rgba(0, 0, 0, 0.05);
    text-transform: uppercase;
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.1);
    cursor: pointer;
    box-sizing: border-box; }
    header .cfp-button:hover {
      background-color: #0069a6;
      color: #fff; }
    header .cfp-button i {
      position: absolute;
      top: 0;
      right: 0;
      padding: .6em .8em;
      border-top-right-radius: 5px;
      border-bottom-right-radius: 5px;
      background: rgba(0, 0, 0, 0.25); }

@media all and (min-width: 767px) {
  header {
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    width: 100%;
    height: auto; }
    header .cfp-tagline {
      -ms-flex-preferred-size: auto;
          flex-basis: auto;
      -ms-flex-item-align: center;
          align-self: center;
      margin: 0 0 0 2rem; }
    header .logo {
      -ms-flex-preferred-size: auto;
          flex-basis: auto;
      -ms-flex-item-align: center;
          align-self: center;
      margin: 10px 0 10px 2rem; }
    header .cfp-button {
      margin: 0 2rem 0 auto; }
    header .cfp-button-container {
      margin: 0 2rem 0 auto; } }

.footer-section {
  background-color: #000 !important; }

.social-media-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center; }
  .social-media-container i {
    padding: 1rem .5rem .5rem;
    color: #fff;
    font-size: 2rem; }
    .social-media-container i:hover {
      color: #00a7ce; }

.copyright {
  padding-bottom: .5rem;
  color: #fff;
  text-align: center; }

.landing.long.summit .hero {
  padding: 0;
  color: #fff; }

.top-logo {
  text-align: center; }

@media all and (max-width: 900px) {
  .mobile-logo {
    margin-top: 70px; } }

.section-container {
  padding: 2rem 1rem; }
  .section-container h1 {
    margin: 0 0 1rem;
    text-align: center; }
  .section-container .no-margin {
    margin-bottom: 0; }

.lesser-section-container {
  padding: 1rem; }

.hero-dark {
  color: #fff; }

.black-background {
  background-color: #000;
  color: #fff; }

.dark-background {
  background-color: #262626;
  color: #fff; }

.medium-background {
  background-color: #767676;
  color: #fff; }

.light-background {
  background-color: #d1d1d1;
  color: #fff; }

.color-background {
  background-color: #00a7ce;
  color: #fff; }

@media all and (min-width: 450px) {
  .section-container {
    padding: 2rem 1rem; }
    .section-container h1 {
      margin: 0 0 2rem; } }

@media all and (min-width: 740px) {
  .section-container {
    padding: 3rem; }
  h1 {
    margin: 0 0 3rem; }
  .lesser-section-container {
    padding: 1.5rem; } }

.about-section a {
  display: inherit;
  margin: 0 auto;
  text-align: center; }

.schedule .disclaimer {
  color: #d1d1d1;
  font-size: 14px; }

.schedule .date {
  margin: 1.5rem 0;
  padding-top: 1.5rem;
  border-top: 2px solid #00a7ce; }

.schedule .time {
  margin-bottom: 1rem; }
  .schedule .time span {
    color: #0069a6; }
  .schedule .time .secondary {
    color: #767676; }

.schedule .secondary {
  color: #767676; }

.schedule p {
  margin: 0 0 .5rem;
  color: #767676; }

.schedule ul {
  margin: 0 0 2rem;
  padding-left: 1rem; }
  .schedule ul li {
    margin: .5rem; }

a .read-more-button {
  display: inline-block;
  margin-bottom: 20px;
  padding: .25rem .5rem;
  border: 1px #00a7ce solid;
  border-radius: 20px;
  color: #00a7ce;
  cursor: pointer; }
  a .read-more-button:hover {
    border-color: #2fc3e6;
    color: #2fc3e6; }

.read-more-text {
  display: none; }

.panel-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-bottom: 1.5rem; }

.panel {
  -ms-flex-preferred-size: 100%;
      flex-basis: 100%; }
  .panel h4 {
    margin-bottom: .5rem;
    text-align: center; }
  .panel p {
    padding: 1rem;
    color: #fff; }
    .panel p:nth-child(odd) {
      background-color: #00a7ce; }
    .panel p:nth-child(even) {
      background-color: #2fc3e6; }
  .panel span {
    display: block;
    margin-top: .5rem;
    font-size: 14px; }

@media all and (min-width: 800px) {
  .panel-3 {
    -ms-flex-preferred-size: 31%;
        flex-basis: 31%;
    margin: 0 .5rem; } }

.sponsor-title {
  margin: 0 auto;
  padding: 2rem;
  color: #fff;
  text-align: center; }

.sponsors-container {
  margin: 0 auto;
  text-align: center; }
  .sponsors-container img {
    display: inline-block;
    width: 100%;
    max-width: 100px;
    height: auto;
    margin: 0 .5rem 2rem;
    padding: 10px;
    border-radius: 100%;
    background-color: #fff; }

.cfp-button {
  position: relative;
  padding: 12px 27px;
  padding-right: 3.4em;
  border-radius: 5px;
  outline: 0;
  background-color: #0069a6;
  color: #fff;
  font-family: 'Open Sans', 'Helvetica Neue', helvetica, arial, sans-serif;
  font-size: 20px;
  font-weight: 400;
  line-height: 1;
  text-shadow: 1px 1px 0 rgba(0, 0, 0, 0.05);
  text-transform: uppercase;
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.1);
  cursor: pointer;
  box-sizing: border-box; }
  .cfp-button:hover {
    background-color: #0069a6;
    color: #fff; }
  .cfp-button i {
    position: absolute;
    top: 0;
    right: 0;
    padding: .6em .8em;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    background: rgba(0, 0, 0, 0.25); }

.pop-up-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: rgba(0, 167, 206, 0.3);
  z-index: 3; }

.pop-up-box {
  position: relative;
  width: 100%;
  height: 100vh;
  padding: 3rem;
  background-color: rgba(255, 255, 255, 0.95);
  color: #000;
  overflow: auto; }
  .pop-up-box .closing-box {
    position: absolute;
    top: 25px;
    right: 25px;
    font-size: 1.5rem; }
  .pop-up-box img {
    display: block;
    max-width: 300px;
    margin: 1rem auto 2rem; }
  .pop-up-box i {
    color: #000; }
  .pop-up-box a {
    text-decoration: none; }
  .pop-up-box button {
    display: block;
    width: 100%;
    margin-top: 2rem;
    padding: 10px;
    background-color: #0069a6;
    color: #fff;
    text-transform: uppercase; }
    .pop-up-box button:hover {
      background-color: #0069a6; }
  .pop-up-box form input:not([type="image"]) {
    box-sizing: inherit; }
  .pop-up-box form .hs-input {
    width: 95%;
    max-width: none;
    padding: 1rem .5rem; }
  .pop-up-box form .hs-button {
    position: relative;
    width: auto;
    min-width: none;
    max-width: none;
    padding: .75rem 2.25rem;
    border: 0;
    border-radius: 5px;
    background: none;
    background-color: #00a7ce;
    color: #fff;
    font-family: "Montserrat", sans-serif;
    font-size: 16px;
    text-shadow: none;
    box-shadow: none; }
    .pop-up-box form .hs-button:hover:not(.inactive), .pop-up-box form .hs-button:active:not(.inactive):not(.link), .pop-up-box form .hs-button:focus:not(.inactive) {
      border: 0;
      background: none;
      background-color: #2fc3e6;
      box-shadow: none; }

@media all and (min-width: 550px) {
  .pop-up-box {
    width: 80% !important;
    min-width: 500px !important;
    max-width: 800px !important;
    height: auto;
    max-height: 80vh;
    margin: 5rem auto !important;
    background-color: #fff; } }

header {
  background-color: #fff;
  color: #000; }

button {
  border: 0;
  background-color: #00a7ce;
  color: #fff;
  font-family: "Montserrat", sans-serif; }
  button:hover {
    background-color: #2fc3e6; }

.sign-up {
  height: 3.5rem;
  padding: 1rem 2rem;
  font-size: 1.2rem;
  text-align: center;
  text-decoration: none;
  box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.2);
  cursor: pointer; }

.landing .webinar-form .hs_cos_wrapper_type_form {
  box-shadow: 0 0 1px rgba(0, 0, 0, 0.25); }

.hs-button.primary {
  min-width: inherit;
  max-width: none;
  height: 3.5rem;
  margin: 10px auto 0;
  padding: 1rem 2rem;
  border: 0;
  border-radius: 0;
  background: #00a7ce;
  color: #fff;
  font-family: "Montserrat", sans-serif;
  font-size: 1.2rem;
  text-align: center;
  text-decoration: none;
  box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.2);
  cursor: pointer; }
  .hs-button.primary:hover {
    background-color: #2fc3e6; }

.about-host {
  text-align: center; }
  .about-host img {
    width: 250px;
    height: 100%;
    margin: 0 20px 20px 0;
    border-radius: 100%; }
  .about-host h4,
  .about-host p {
    text-align: left; }

@media all and (min-width: 600px) {
  .about-host {
    text-align: left; }
    .about-host img {
      float: left; } }
