@import url(https://fonts.googleapis.com/css?family=Merriweather);
button {
  padding: 7px 15px;
  border: 0;
  background-color: #8bccb9;
  color: #fff; }
  button:hover {
    background-color: #99deca; }

.two-col-container,
.three-col-container,
.five-col-container {
  -ms-flex-preferred-size: 100%;
      flex-basis: 100%; }

@media all and (min-width: 767px) {
  .two-col-container {
    -ms-flex-preferred-size: 50%;
        flex-basis: 50%;
    padding: 0 .5rem; }
  .three-col-container {
    -ms-flex-preferred-size: 33.33%;
        flex-basis: 33.33%;
    padding: 0 .5rem; }
  .five-col-container {
    -ms-flex-preferred-size: 20%;
        flex-basis: 20%;
    padding: 0 .5rem; } }

* {
  box-sizing: border-box; }

html,
body,
p {
  font-family: "Montserrat", sans-serif; }

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Merriweather", serif; }

a {
  color: #13697b; }
  a:hover {
    color: #038f94; }

.page-center {
  max-width: 960px; }

.logo-center {
  text-align: center; }

.button-container-center {
  display: block;
  margin-top: 2rem;
  text-align: center; }

.opacity-background {
  background-color: rgba(0, 0, 0, 0.5); }

.divider {
  width: 100%;
  margin: 1rem 0;
  border-bottom: 1px #8bccb9 solid; }

.section-divider-dark {
  width: 100%;
  margin: 1.5rem 0;
  border-bottom: 1px #fff solid; }

.hidden {
  display: none !important; }

.center {
  margin: 0 auto;
  text-align: center; }

.flex-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap; }

.full-flex {
  -ms-flex-preferred-size: 100%;
      flex-basis: 100%; }

header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: fixed;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
  height: 90px;
  padding: .5rem;
  background-color: #000;
  z-index: 2; }
  header .cfp-tagline {
    -ms-flex-preferred-size: 100%;
        flex-basis: 100%;
    margin: 10px;
    color: #fff;
    text-align: center; }
  header .logo {
    display: block;
    max-width: 200px;
    height: auto;
    margin: 15px 100px;
    text-align: center; }
  header .cfp-button-container {
    margin: 0 auto; }
  header .cfp-button {
    position: relative;
    max-width: 300px;
    margin: 0 auto;
    padding: 12px 27px;
    padding-right: 3.4em;
    border-radius: 5px;
    outline: 0;
    background-color: #8bccb9;
    color: #fff;
    text-shadow: 1px 1px 0 rgba(0, 0, 0, 0.05);
    text-transform: uppercase;
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.1);
    cursor: pointer;
    box-sizing: border-box; }
    header .cfp-button:hover {
      background-color: #99deca;
      color: #fff; }
    header .cfp-button i {
      position: absolute;
      top: 0;
      right: 0;
      padding: .6em .8em;
      border-top-right-radius: 5px;
      border-bottom-right-radius: 5px;
      background: rgba(0, 0, 0, 0.25); }

@media all and (min-width: 767px) {
  header {
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    width: 100%;
    height: auto; }
    header .cfp-tagline {
      -ms-flex-preferred-size: auto;
          flex-basis: auto;
      -ms-flex-item-align: center;
          align-self: center;
      margin: 0 0 0 2rem; }
    header .logo {
      -ms-flex-preferred-size: auto;
          flex-basis: auto;
      -ms-flex-item-align: center;
          align-self: center;
      margin: 10px 0 10px 2rem; }
    header .cfp-button {
      margin: 0 2rem 0 auto; }
    header .cfp-button-container {
      margin: 0 2rem 0 auto; } }

.footer-section {
  background-color: #000 !important; }

.social-media-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center; }
  .social-media-container i {
    padding: 1rem .5rem .5rem;
    color: #fff;
    font-size: 2rem; }
    .social-media-container i:hover {
      color: #13697b; }

.copyright {
  padding-bottom: .5rem;
  color: #fff;
  text-align: center; }

.section-container {
  padding: 2rem 1rem; }
  .section-container h1 {
    margin: 0 0 1rem;
    text-align: center; }
  .section-container .no-margin {
    margin-bottom: 0; }

.lesser-section-container {
  padding: 1rem; }

.hero-dark {
  color: #fff; }

.black-background {
  background-color: #000;
  color: #fff; }

.dark-background {
  background-color: #0b363e;
  color: #fff; }

.medium-background {
  background-color: #1f505b;
  color: #fff; }

.light-background {
  background-color: #3f6b75;
  color: #fff; }

.color-background {
  background-color: #20b0cf;
  color: #fff; }

@media all and (min-width: 450px) {
  .section-container {
    padding: 2rem 1rem; }
    .section-container h1 {
      margin: 0 0 2rem; } }

@media all and (min-width: 740px) {
  .section-container {
    padding: 3rem; }
  h1 {
    margin: 0 0 3rem; }
  .lesser-section-container {
    padding: 1.5rem; } }

.nvite-rsvp-widget-container {
  width: 300px !important; }

.nvite-rsvp-widget-button {
  background: #8bccb9 !important; }
  .nvite-rsvp-widget-button:hover {
    background: #99deca !important; }

.schedule .disclaimer {
  color: #f2f2f2;
  font-size: 14px; }

.schedule .date {
  margin: 1.5rem 0;
  padding-top: 1.5rem;
  border-top: 2px solid #13697b; }

.schedule .time {
  margin-bottom: 1rem; }
  .schedule .time span {
    color: #8bccb9; }
  .schedule .time .secondary {
    color: #bababa; }

.schedule .secondary {
  color: #bababa; }

.schedule p {
  margin: 0 0 .5rem;
  color: #bababa; }

.schedule ul {
  margin: 0 0 2rem;
  padding-left: 1rem; }
  .schedule ul li {
    margin: .5rem; }

a .read-more-button {
  display: inline-block;
  margin-bottom: 20px;
  padding: .25rem .5rem;
  border: 1px #13697b solid;
  border-radius: 20px;
  color: #13697b;
  cursor: pointer; }
  a .read-more-button:hover {
    border-color: #038f94;
    color: #038f94; }

.read-more-text {
  display: none; }

.panel-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-bottom: 1.5rem; }

.panel {
  -ms-flex-preferred-size: 100%;
      flex-basis: 100%; }
  .panel h4 {
    margin-bottom: .5rem;
    text-align: center; }
  .panel p {
    padding: 1rem;
    color: #fff; }
    .panel p:nth-child(odd) {
      background-color: #13697b; }
    .panel p:nth-child(even) {
      background-color: #038f94; }
  .panel span {
    display: block;
    margin-top: .5rem;
    font-size: 14px; }

@media all and (min-width: 800px) {
  .panel-3 {
    -ms-flex-preferred-size: 31%;
        flex-basis: 31%;
    margin: 0 .5rem; } }

.speakers-container {
  max-width: 1000px;
  margin: 0 auto; }

.speaker-container {
  position: relative;
  -ms-flex-preferred-size: 100%;
      flex-basis: 100%; }
  .speaker-container .quote-image {
    width: 128px;
    height: 128px;
    margin: 0 auto;
    opacity: 1 !important; }
    .speaker-container .quote-image img {
      width: 100%;
      height: auto;
      border-radius: 100%; }
  .speaker-container .quote-text {
    margin: 1rem 0 0; }
  .speaker-container .speaker-title {
    margin: .5rem 0 2rem;
    font-family: "Montserrat", sans-serif;
    font-size: 15px; }
  .speaker-container .speaker-event-title {
    margin: .5rem 0;
    font-size: 15px; }
  .speaker-container .quote-text,
  .speaker-container .speaker-title {
    color: #fff;
    text-align: center; }
  .speaker-container .hover-quote {
    display: none;
    position: absolute;
    top: 140px;
    right: 0;
    left: 0;
    max-width: 300px;
    margin: 0 auto !important;
    padding: 10px 15px 15px;
    border-radius: 4px;
    background: #fff;
    color: #363d44;
    font-size: 13px;
    box-shadow: 0 3px 7px rgba(0, 0, 0, 0.2);
    z-index: 30; }
    .speaker-container .hover-quote p {
      margin: 0;
      font-size: 13px; }
    .speaker-container .hover-quote::before {
      position: absolute;
      top: -16px;
      right: 0;
      left: 0;
      margin: 0 auto !important;
      color: #fff;
      font: normal normal normal 14px/1 FontAwesome;
      font-size: 25px;
      text-align: center;
      content: '\f0d8'; }

@media all and (min-width: 450px) {
  .speaker-container {
    -ms-flex-preferred-size: 50%;
        flex-basis: 50%; } }

@media all and (min-width: 740px) {
  .speaker-container {
    -ms-flex-preferred-size: 33%;
        flex-basis: 33%; } }

.sponsor-title {
  margin: 0 auto;
  padding: 2rem;
  color: #fff;
  text-align: center; }

.sponsors-container {
  margin: 0 auto;
  text-align: center; }
  .sponsors-container img {
    display: inline-block;
    width: 100%;
    max-width: 100px;
    height: auto;
    margin: 0 .5rem 2rem;
    padding: 10px;
    border-radius: 100%;
    background-color: #fff; }

@-webkit-keyframes hover-play {
  0% {
    background-color: #13697b; }
  100% {
    background-color: #038f94; } }

@keyframes hover-play {
  0% {
    background-color: #13697b; }
  100% {
    background-color: #038f94; } }

.hosts-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap; }

.host-box {
  -ms-flex-preferred-size: 100%;
      flex-basis: 100%;
  text-align: center; }
  .host-box img {
    max-width: 200px;
    border-radius: 50%; }

.podcast-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 1rem 0;
  padding: 1rem;
  background-color: #13697b; }

.play-container {
  display: none;
  position: absolute;
  bottom: 0;
  left: 0;
  -webkit-box-align: center;
      -ms-flex-align: center;
              -ms-grid-row-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 50px;
  height: 50px;
  border: 0.5rem #fff solid;
  border-radius: 100%;
  background-color: #13697b;
  z-index: 2; }
  .play-container i {
    color: #fff;
    font-size: 1rem; }
  .play-container:hover {
    background-color: #038f94;
    -webkit-animation: hover-play .5s;
            animation: hover-play .5s; }

.play-filler {
  display: none;
  position: absolute;
  bottom: 0;
  left: 0;
  width: 25px;
  height: 50px;
  background-color: #fff; }

.podcast-info {
  -ms-flex-preferred-size: 100%;
      flex-basis: 100%;
  color: #fff; }
  .podcast-info .podcast-title {
    margin: 0;
    font-size: 24px;
    font-weight: 700;
    text-decoration: none; }
  .podcast-info .podcast-date {
    margin: .5rem 0;
    font-family: "Montserrat", sans-serif;
    font-size: 16px;
    font-weight: 400;
    letter-spacing: 1px; }
  .podcast-info p {
    margin-top: .5rem;
    margin-bottom: 1rem; }

audio {
  width: 100%;
  margin-left: auto; }

@media all and (min-width: 600px) {
  .hosts-container {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center; }
  .host-box {
    position: relative;
    -ms-flex-preferred-size: 0;
        flex-basis: 0;
    margin: 0 2rem; }
  .host-bio {
    position: absolute;
    left: 50%;
    width: 350px;
    padding: 1.5rem;
    -webkit-transform: translateX(-50%);
            transform: translateX(-50%);
    background-color: #fff;
    box-shadow: 0 0 1px rgba(0, 0, 0, 0.2);
    z-index: 2; }
    .host-bio p {
      margin: 0;
      text-align: left; }
  .play-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex; }
  .play-filler {
    display: block; }
  .podcast-info p {
    margin-bottom: 3rem; }
  audio {
    position: absolute;
    bottom: 10px;
    left: 75px;
    width: 85%; } }

@media all and (min-width: 900px) {
  .podcast-container {
    margin: 1.5rem 0;
    padding: 0 50px 0 0; }
  .play-container {
    position: relative;
    width: 200px;
    height: 200px;
    border-width: 1.75rem; }
    .play-container i {
      font-size: 5rem; }
  .play-active {
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
    background-color: #038f94; }
  .play-filler {
    bottom: auto;
    left: 0;
    width: 100px;
    height: 100%; }
  .podcast-info {
    -webkit-box-flex: 1;
        -ms-flex: 1;
            flex: 1;
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
    margin-left: 50px; }
    .podcast-info p {
      margin-bottom: 1.5rem; }
  audio {
    position: relative;
    bottom: auto;
    left: auto;
    width: 100%; } }

.img-container {
  width: 90%;
  margin: 0 auto;
  padding-bottom: 2rem; }

.img-box {
  display: inline-block;
  width: 31.777%;
  margin: .5%; }
  .img-box img {
    width: 100%;
    height: auto; }

@media all and (max-width: 880px) {
  .img-box {
    margin: .4%; } }

@media all and (max-width: 660px) {
  .img-box {
    width: 100%;
    margin: 0 auto; }
  .img-hide {
    display: none; } }

.companies {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  max-width: 1050px;
  margin: 0 auto; }
  .companies .company-box {
    -ms-flex-preferred-size: 50%;
        flex-basis: 50%;
    margin: 1rem 0; }
  .companies .img-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    width: 100px;
    height: 100px;
    padding: 20px;
    border-radius: 100%;
    background-color: #fff; }

@media all and (min-width: 451px) {
  .companies .company-box {
    -ms-flex-preferred-size: 30%;
        flex-basis: 30%; } }

@media all and (min-width: 551px) {
  .companies .img-container {
    width: 125px;
    height: 125px;
    padding: 28px; } }

@media all and (min-width: 901px) {
  .companies .company-box {
    -ms-flex-preferred-size: 20%;
        flex-basis: 20%; }
  .companies .img-container {
    width: 140px;
    height: 140px;
    padding: 30px; } }

.image-background {
  background: url("http://cdn2.hubspot.net/hubfs/482737/sbd_Header_Image.jpg") no-repeat center center fixed;
  background-color: #000;
  background-size: cover;
  color: #fff; }

.landing.long.summit .hero {
  padding: 0; }

header .cfp-button {
  padding: 4px 3.4rem 4px 27px; }

header .cfp-tagline {
  -ms-flex-preferred-size: 100%;
      flex-basis: 100%;
  margin: 10px;
  color: #fff;
  font-family: "Montserrat", sans-serif;
  font-size: 12px;
  letter-spacing: 4px;
  text-align: center;
  text-transform: uppercase; }

.hero-blackout {
  padding: 3rem 1rem; }

.hero-logo {
  width: 200px; }

.mobile-logo {
  margin-top: 3rem; }

@media all and (min-width: 768px) {
  header .cfp-tagline {
    -ms-flex-preferred-size: inherit;
        flex-basis: inherit;
    margin: 0 0 0 1rem;
    font-size: 1rem;
    text-align: left; }
  .hero-blackout {
    padding: 5rem 4rem; }
  .hero-logo {
    width: 400px; } }

@media all and (min-width: 900px) {
  header .cfp-tagline {
    font-size: 1.4rem; } }
