.image-background {
  background: url('http://cdn2.hubspot.net/hubfs/482737/sbd_Header_Image.jpg') no-repeat center center fixed;
  background-color: $black;
  background-size: cover;
  color: $white;
}

.landing.long.summit .hero {
  padding: 0;
}

header {
  .cfp-button {
    padding: 4px 3.4rem 4px 27px;
  }

  .cfp-tagline {
    flex-basis: 100%;
    margin: 10px;
    color: $white;
    font-family: $base-font;
    font-size: 12px;
    letter-spacing: 4px;
    text-align: center;
    text-transform: uppercase;
  }
}

.hero-blackout {
  padding: 3rem 1rem;
}

.hero-logo {
  width: 200px;
}

.mobile-logo {
  margin-top: 3rem;
}

@media all and (min-width: 768px) {
  header {
    .cfp-tagline {
      flex-basis: inherit;
      margin: 0 0 0 1rem;
      font-size: 1rem;
      text-align: left;
    }
  }

  .hero-blackout {
    padding: 5rem 4rem;
  }

  .hero-logo {
    width: 400px;
  }
}

@media all and (min-width: 900px) {
  header {
    .cfp-tagline {
      font-size: 1.4rem;
    }
  }
}
