@import 'base/variables';

section {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.box {
  width: 200px;
  height: 200px;
  transition: .5s;
  border-radius: 2px;

  background-color: $primary-color;
  box-shadow: 0 2px 2px rgba($black, .6);

  &:hover {
    transform: translateY(6px) scale(1.05);
    box-shadow: 0 8px 12px 2px rgba($black, .4);
  }
}
