$dark-gray: #292e2f;
$gray: #707475;
$light-gray: #9ba0a2;

$primary-color: #f6ae36;
$primary-color-light: #ffbd4e;

$secondary-color: #23aadb;
$secondary-color-light: #41bfed;

$background-color-dark: #262f32;
$background-color-medium: #5f7178;
$background-color-light: #80adbd;
$background-color-hue: #5193ab;

$button-color: #f6ae36;
$button-color-hover: #ffbd4e;
