$black: #000;
$white: #fff;
$blue: #0069a6;

$dark-gray: #262626;
$gray: #767676;
$light-gray: #d1d1d1;

$primary-color: #00a7ce;
$primary-color-light: #2fc3e6;

$secondary-color: $blue;
$secondary-color-light: $blue;

$background-color-dark: $dark-gray;
$background-color-medium: $gray;
$background-color-light: $light-gray;
$background-color-hue: $primary-color;

$button-color: $primary-color;
$button-color-hover: $primary-color-light;

$header-color: $black;
$footer-color: $black;
