.background-light {
  background-color: $background-blue200;
}

.background-medium {
  background-color: $background400;
}

.primary-background {
  background-color: $primary400;
  color: $white;
}

.secondary-background {
  background-color: $secondary400;
  color: $white;
}
