%button {
  display: block;
  margin: .75rem;
  padding: 10px 35px;
  border: 0;
  border-radius: 5px;
  outline: 0;
  background-color: $secondary400;
  color: $white;
  font-family: $base-font;
  font-size: 16px;
  font-weight: 400;
  cursor: pointer;

  &:hover {
    background-color: $secondary200;
  }
}

button,
.button {
  @extend %button;
}

.button-large {
  padding: .75rem 3rem;
  font-size: 18px;
}

.button-container {
  width: 100%;
}

.cta-button {
  @extend %button;
  display: inline-block;

  &.convert {
    background-color: $success400;

    &:hover {
      background-color: $success600;
    }
  }
}

a.cta-button,
a.cta-button:hover {
  color: $white !important;
}

@media all and (min-width: 37.5rem) {
  .button-large {
    padding: 1rem 4rem;
    font-size: 24px;
  }
}
