h1,
h2 {
  margin: 0;
  font-family: $head-font;
  font-weight: 400;
}

h3,
h4,
h5,
h6 {
  margin: 0;
  font-family: $base-font;
  font-weight: 400;
}

p {
  margin: 0;
  font-size: 18px;
  line-height: 1.4;
}

a {
  color: $primary;
  text-decoration: none;

  &:hover {
    color: $primary-light;
  }
}

a,
i {
  text-decoration: none;
  cursor: pointer;
}

ul {
  margin: 0;
  padding: 0;
}

li {
  list-style: none;
}

h1 {
  font-size: 36px;
  font-weight: 700;
  line-height: 1.4;
}

.heading-center {
  text-align: center;
}

.subheading {
  font-family: $base-font;
  font-size: 24px;
}

h4 {
  font-size: 1.5rem;
}

.heavy {
  font-weight: 900;
}

@media all and (min-width: 37.5rem) {
  h1 {
    font-size: 48px;
  }
}
