.subscriptions-page {
  .section-container {
    .page-header {
      position: inherit;
      margin: auto;
      padding: auto;
      padding-bottom: auto;
      z-index: auto;
      box-shadow: none;
    }
  }
}
