$white: #fff;
$black: #000;

$gray200: #efefef;
$gray500: #565656;
$gray700: #242424;

$primary: #f6ae36;
$primary-light: #ffbb47;

$secondary: #209fd9;
$secondary-light: #33b4ee;

$tertiary: #e23430;
$tertiary-light: #f24945;

$body-color: $gray500;
