$white: #fff;
$black: #000;

$gray200: #efefef;
$gray500: #565656;
$gray700: #242424;

$primary200: #ffbb47;
$primary400: #f6ae36;

$secondary200: #33b4ee;
$secondary400: #209fd9;

$tertiary200: #f24945;
$tertiary400: #e23430;

$success200: #cdff63;
$success400: #9fde1a;
$success600: #96d412;

$background-blue200: #beebff;

$background400: #ededed;

$body-color: $gray500;

$error: #ff604a;
