$base-font: "Montserrat", sans-serif;
$head-font: "Merriweather", serif;
$head-font-light: $head-font;
$subhead-font: $head-font;
$subhead-font-light: $head-font;
$quote-font: $base-font;
$button-font: $base-font;
