$precode-button: #ff6a89;

.landing.long.summit .hero {
  padding: 0;
}

header {
  .cfp-button {
    padding: 4px 27px;
    padding-right: 3.4rem;
  }

  .cfp-tagline {
    flex-basis: 100%;
    margin: 10px;
    color: $white;
    font-family: $base-font;
    font-size: 12px;
    letter-spacing: 4px;
    text-align: center;
    text-transform: uppercase;
  }
}

.landing.long.summit .mobile-logo {
  margin-top: 4rem;
}

.pre-code-button {
  background-color: $precode-button;
  color: $white;

  a {
    color: $white;

    &:hover {
      color: $white;
    }
  }

  p {
    color: $white;
  }
}

@media all and (min-width: 768px) {
  header {
    .cfp-tagline {
      flex-basis: inherit;
      margin: 0;
      margin-left: 1rem;
      font-size: 1rem;
      text-align: left;
    }
  }
}

@media all and (min-width: 900px) {
  header {
    .cfp-tagline {
      font-size: 1.4rem;
    }
  }
}
