* {
  box-sizing: border-box;
}

html,
body,
p {
  font-family: $base-font;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: $head-font; }

a {
  &:link,
  &:active,
  &:visited {
    color: $primary-color;
  }

  &:hover,
  &:link:hover,
  &:active:hover,
  &:visited:hover {
    color: $primary-color-light;
  }
}

.page-center {
  max-width: 960px;
}

.hero {
  padding: 3rem 4rem;
  background-color: $gray;
  color: $white;
}

button {
  @extend %button;
}

.button-container-center {
  display: block;
  margin-top: 2rem;
  text-align: center;
}

.divider {
  width: 100%;
  margin: 1rem 0;
  border: 1px $secondary-color solid;
}

.hidden {
  display: none !important;
}
