* {
  box-sizing: border-box;
}

html,
body,
p {
  font-family: $base-font;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: $head-font; }

a {
  color: $primary-color;

  &:hover {
    color: $primary-color-light;
  }
}

.page-center {
  max-width: 960px;
}

button {
  @extend %button;
}

.button-container-center {
  display: block;
  margin-top: 2rem;
  text-align: center;
}

.opacity-background {
  background-color: rgba($black, .5);
}

.divider {
  width: 100%;
  margin: 1rem 0;
  border: 1px $secondary-color solid;
}

.hidden {
  display: none !important;
}

.center {
  text-align: center;
}
