.footer-section {
  background-color: $dark-gray;
}

.social-media-container {
  display: flex;
  justify-content: center;

  i {
    padding: 1rem .5rem .5rem;
    color: $white;
    font-size: 2rem;

    &:hover {
      color: $primary-color;
    }
  }
}

.copyright {
  padding-bottom: .5rem;
  color: $white;
  text-align: center;
}

@media all and (max-width: 768px) {
  .footer-section {
    background-color: $dark-gray;
  }

  .social-media-container {
    display: flex;
    justify-content: center;
  }

  i {
    padding: 1rem .5rem .5rem;
    color: $white;
    font-size: 2rem;

    &:hover {
      color: $primary-color;
    }
  }

  .copyright {
    padding-bottom: .5rem;
    color: $white;
    text-align: center;
  }
}
