header {
  display: flex;
  position: fixed;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 90px;
  padding: .5rem;
  background-color: $black;
  z-index: 2;

  .cfp-tagline {
    flex-basis: 100%;
    margin: 10px;
    color: $white;
    text-align: center;
  }

  .logo {
    display: block;
    max-height: 40px;
    margin: 15px 100px;
    text-align: center;
  }

  .cfp-button {
    position: relative;
    max-width: 300px;
    margin: 0 auto;
    padding: 12px 27px;
    padding-right: 3.4em;
    border-radius: 5px;
    outline: 0;
    background-color: $secondary-color;
    color: $white;
    text-shadow: 1px 1px 0 rgba($black, .05);
    text-transform: uppercase;
    box-shadow: 2px 2px 4px rgba($black, .1);
    cursor: pointer;
    box-sizing: border-box;

    &:hover {
      background-color: $secondary-color-light;
      color: $white;
    }

    i {
      position: absolute;
      top: 0;
      right: 0;
      padding: .6em .8em;
      border-top-right-radius: 5px;
      border-bottom-right-radius: 5px;
      background: rgba($black, .25);
    }
  }
}

@media all and (min-width: 767px) {
  header {
    justify-content: flex-start;
    width: 100%;
    height: auto;

    .cfp-tagline {
      flex-basis: auto;
      align-self: center;
      margin: 0 0 0 2rem;
    }

    .logo {
      flex-basis: auto;
      align-self: center;
      margin: 10px 0 10px 2rem;
    }

    .cfp-button {
      margin: 0 2rem 0 auto;
    }
  }
}
