$dark-gray: #363d44;
$gray: #bababa;
$light-gray: #f2f2f2;

$primary-color: #ffa800;
$primary-color-light: #fbbd43;

$secondary-color: #979d4e;
$secondary-color-light: #acb16e;

$background-light-gray: #c7c7c7;

$background-color-dark: #171a04;
$background-color-medium: #3c401b;
$background-color-light: #777a58;
$background-color-hue: #babf78;

$button-color: $primary-color;
$button-color-hover: $primary-color-light;


$text-color: $white;

$panel-color: #a1ab3e;
$panel-odd-color: #80984d;
$panel-breakout-color: #edfdff;
$panel-secondary-color: #aeb378;
$panel-text-color: $black;
$shadow-color: #383838;
$light-gray-background: #fffbfa;
$panel-button-color: #ffa800;
$panel-button-color-hover: #ffae11;
