$dark-gray: #363d44;
$gray: #bababa;
$light-gray: #f2f2f2;

$primary-color: #13697b;
$primary-color-light: #038f94;

$secondary-color: #8bccb9;
$secondary-color-light: #99deca;

$background-color-dark: #06171b;
$background-color-medium: #0b272d;
$background-color-light: #3d6871;
$background-color-hue: #5eb8cc;

$button-color: #13697b;
$button-color-hover: #038f94;
