$dark-gray: #363d44;
$gray: #bababa;
$light-gray: #f2f2f2;

$primary-color: #6141ff;
$primary-color-light: #795efe;

$secondary-color: #e3365b;
$secondary-color-light: #fe5277;

$background-color-dark: #0b363e;
$background-color-medium: #1f505b;
$background-color-light: #3f6b75;
$background-color-hue: #20b0cf;

$button-color: #13697b;
$button-color-hover: #038f94;
