$base-font: "Montserrat", sans-serif;
$head-font: "Merriweather", serif;

//Colors
$white: #fff;
$black: #000;
$gray: #838281;
$dark-gray: #363534;
$background-color: #f0f8ff;

$primary-color: #f3b849;
$primary-color-light: #ffca67;

$secondary-color: #2475b1;
$secondary-color-light: #308bcf;

$header-color: $black;
$footer-color: $black;
