.persona-group {
  .persona-description {
    position: relative;
    padding: 1rem;
    background-color: $white;
    color: $black;
    box-shadow: 0 1px 1px rgba($black, .4);

    .arrow-bottom {
      position: absolute;
      bottom: -40px;
      left: 50%;
      transform: translateX(-50%);
      border-top: 10px $white solid;
      border-right: 7px solid transparent;
      border-left: 7px solid transparent;
      z-index: 2;
    }

    .arrow-bottom-border {
      position: absolute;
      bottom: -42px;
      left: 50%;
      transform: translateX(-50%);
      border-top: 11px rgba($black, .2) solid;
      border-right: 8px solid transparent;
      border-left: 8px solid transparent;
    }
  }

  .persona-image {
    position: relative;
    max-width: 150px;
    max-height: 150px;
    margin: 1rem auto !important;
    float: none !important;
    border: 4px $white solid;
    border-radius: 100%;
    background-color: $white;
    text-align: center;
    box-shadow: 0 0 5px rgba($black, .4);
    overflow: hidden;

    img {
      width: 100%;
      height: 100%;
    }
  }
}
