.section-container {
  margin: 0 auto;
  padding: 70px;

  h1 {
    margin: 0 0 3rem;
    text-align: center;
  }

  .no-margin {
    margin-bottom: 0;
  }
}

.lesser-section-container {
  margin: 0 auto;
  padding: 0;
}

.hero-dark {
  color: $white;
}

.black-background {
  background-color: $black;
  color: $white;
}

.dark-background {
  background-color: $background-color-dark;
  color: $white;
}

.medium-background {
  background-color: $background-color-medium;
  color: $white;
}

.light-background {
  background-color: $background-color-light;
  color: $white;
}

.color-background {
  background-color: $background-color-hue;
  color: $white;
}
