.speakers-container {
  max-width: 1000px;
  margin: 0 auto;
}

.speaker-container {
  position: relative;
  flex-basis: 100%;

  .quote-image {
    width: 128px;
    height: 128px;
    margin: 0 auto;
    opacity: 1 !important;

    img {
      width: 100%;
      height: auto;
      border-radius: 100%;
    }
  }

  .quote-text {
    color: $white;
    text-align: center;
  }

  .hover-quote {
    display: none;
    position: absolute;
    top: 140px;
    right: 0;
    left: 0;
    max-width: 300px;
    margin: 0 auto !important;
    padding: 10px;
    border-radius: 4px;
    background: $white;
    color: $dark-gray;
    font-size: 13px;
    box-shadow: 0 3px 7px rgba($black, .2);
    z-index: 30;

    p {
      margin: 0;
      font-size: 13px;
    }

    &::before {
      position: absolute;
      top: -16px;
      right: 0;
      left: 0;
      margin: 0 auto !important;
      color: $white;
      font: normal normal normal 14px/1 FontAwesome;
      font-size: 25px;
      text-align: center;
      content: '\f0d8';
    }
  }
}

@media all and (min-width: 450px) {
  .speaker-container {
    flex-basis: 50%;
  }
}

@media all and (min-width: 740px) {
  .speaker-container {
    flex-basis: 33%;
  }
}
