section {
  padding: 2rem 5rem;

  h1 {
    margin: 2rem 0;
  }
}

.event-information,
.sponsor-event {
  display: flex;
  flex-wrap: wrap;

  h1 {
    flex: 1 100%;
  }

  p {
    span {
      font-style: italic;
    }

    b {
      font-weight: 700;
    }
  }
}

.event-box {
  display: flex;
  flex: 100%;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  margin: 2rem 0;

  .img-container {
    display: flex;
    align-items: center;
    max-width: 250px;
  }

  img {
    max-width: 100%;
    height: auto;
  }

  h3 {
    flex: 1 100%;
    margin: 1rem 0;
    text-align: center;
  }
}

.benifits-box {
  display: flex;
  flex: 100%;
  flex-wrap: wrap;
  align-items: flex-start;
  margin: 2rem 0;
  border-bottom: 2px $primary-color-light solid;
}

.pop-up-container {
  display: flex;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  align-items: center;
  justify-content: center;
  background-color: rgba($primary-color, .3);
  z-index: 3;
}

.pop-up-box {
  position: relative;
  width: 100%;
  height: 100vh;
  padding: 3rem;
  background-color: rgba($white, .85);
  overflow: auto;

  .closing-box {
    position: absolute;
    top: 60px;
    right: 15px;
    font-size: 1.5rem;
  }

  .first-p {
    margin-top: 4rem;
  }
}

@media all and (min-width: 620px) {
  .pop-up-box {
    width: 500px;
    height: auto;
    max-height: 80vh;
    background-color: $white;

    .closing-box {
      top: 1.25rem;
      right: 1.5rem;
    }

    .first-p {
      margin-top: 0;
    }
  }

  .benifits-box {
    flex: 50%;
    margin-top: 0;
    padding-right: 2rem;
    border-bottom: 0;

    button {
      display: block;
      width: 100%;
    }
  }
}

@media all and (min-width: 747px) {
  .event-box {
    flex: 1 33%;

    .img-container {
      max-width: 300px;
      height: 100px;
      padding: 0 2rem;
    }

    h3 {
      flex: 1 100%;
      margin: .5rem 0 1rem;
      text-align: center;
    }
  }
}

@media all and (min-width: 1100px) {
  .event-box {
    .img-container {
      margin-bottom: 2rem;
    }
  }
}
