$dark-gray: #262626;
$gray: #9f9f9f;
$light-gray: #d1d1d1;

$primary-color: #e3365b;
$primary-color-light: #fe5277;

$secondary-color: #6141ff;
$secondary-color-light: #795efe;

$background-color-dark: #201a3d;
$background-color-medium: #1f505b;
$background-color-light: #3f6b75;
$background-color-hue: #20b0cf;

$button-color: #13697b;
$button-color-hover: #038f94;

$header-color: #363534;
$footer-color: #363534;
