$dark-gray: #363d44;
$gray: #bababa;
$light-gray: #f2f2f2;

$primary-color: #ff2f2f;
$primary-color-light: #ff5757;

$secondary-color: #23aadb;
$secondary-color-light: #5ac4eb;

$background-color-dark: #03141b;
$background-color-medium: #182b33;
$background-color-light: #47565c;
$background-color-hue: #6d9eb1;

$button-color: $primary-color;
$button-color-hover: $primary-color-light;

$text-color: $white;

$panel-color: #23aadb;
$panel-odd-color: #5ac4eb;
$panel-breakout-color: #2ac4fc;
$panel-secondary-color: #87bfd4;
$panel-text-color: $black;
$shadow-color: #373333;
$light-gray-background: #fff0ec;
$panel-button-color: #ff5757;
$panel-button-color-hover: #ff2f2f;
