.nvite-rsvp-widget-container {
  width: 300px !important;
}

.nvite-rsvp-widget-button {
  background: $secondary-color !important;

  &:hover {
    background: $secondary-color-light !important;
  }
}

.cfp-button {
  position: relative;
  padding: 12px 3.4em 12px 27px;
  border-radius: 5px;
  outline: 0;
  background-color: $secondary-color;
  color: $white;
  font-family: 'Open Sans', 'Helvetica Neue', helvetica, arial, sans-serif;
  font-size: 20px;
  font-weight: 400;
  line-height: 1;
  text-shadow: 1px 1px 0 rgba($black, .05);
  text-transform: uppercase;
  box-shadow: 2px 2px 4px rgba($black, .1);
  cursor: pointer;
  box-sizing: border-box;

  &:hover {
    background-color: $secondary-color-light;
    color: $white;
  }

  i {
    display: flex;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    align-items: center;
    padding: .6em .8em;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    background: rgba($black, .25);
  }
}
