$panel-border-color: $background-color-dark;
$panel-color: $primary-color;
$panel-odd-color: $primary-color-light;
$panel-breakout-color: $secondary-color;

.schedule {
  max-width: 1200px;
  margin: 0 auto;

  .schedule-subhead {
    max-width: 960px;
    margin: 0 auto 2rem;
    color: $white;
  }

  .disclaimer {
    font-size: 14px;
  }

  p {
    margin: 0 0 .5rem;
    line-height: 1.2;

    &.additional-spacing {
      margin-top: .5rem;
    }
  }

  ul {
    margin: 0 0 2rem;
    padding-left: 1rem;

    li {
      margin: .5rem;
    }
  }

  .divider-scedule {
    margin-bottom: 31px;
    border-bottom: 1px $white dashed;
  }
}

a {
  .read-more-button {
    display: inline-block;
    margin-bottom: 20px;
    padding: .25rem .5rem;
    border: 1px $primary-color solid;
    border-radius: 20px;
    color: $primary-color;
    cursor: pointer;

    &:hover {
      border-color: $primary-color-light;
      color: $primary-color-light;
    }
  }
}

.read-more-text {
  display: none;
}

// Schedule Panels
.panel-container {
  display: flex;
  flex-wrap: wrap;
}

.panel-section-3 {
  display: flex;
  flex-basis: 100%;
  flex-wrap: wrap;
  align-content: flex-start;
}

.event-header {
  h4 {
    margin: .5rem 0;
    font-size: 24px;
    line-height: 1.4;
    text-align: center;
  }
}

.panel-head {
  flex-basis: 100%;
  padding: 0 1rem;
  border-bottom: 5px $panel-border-color solid;
  background-color: $secondary-color-light;
  color: $white;
  text-align: center;

  h4 {
    margin: 1rem auto;
  }
}

.panel-section-3,
.panel-section-4,
.panel-section-5 {
  flex-basis: 100%;
}

.no-right-border {
  border-right: 0;
}

.panel {
  flex-basis: 100%;
  padding: 1rem;
  border-bottom: 5px $panel-border-color solid;

  &:nth-child(odd) {
    background-color: $primary-color;
  }

  &:nth-child(even) {
    background-color: $primary-color-light;
  }

  &.break-out-header {
    background-color: $secondary-color;
  }

  &.break {
    background-color: rgba($primary-color, .5);
  }

  &.event-header {
    padding: 7px 15px;
    background-color: $secondary-color-light;

    p {
      margin: 0;
      margin-bottom: .5rem;
      text-align: center;
    }
  }

  p {
    margin: 0;
    color: $white;
  }

  span {
    display: block;
    margin-top: .5rem;
    font-size: 14px;

    &.disclaimer {
      display: inline-block;
    }
  }

  .read-more-content {
    margin-top: 1rem;
    font-size: 14px;
    line-height: 1.2;
  }

  button {
    display: block;
    width: 150px;
    margin: 1rem auto 0;
  }
}

@media all and (min-width: 800px) {
  .panel-section-3,
  .panel-section-4,
  .panel-section-5 {
    border-right: 5px $panel-border-color solid;
  }

  .panel-section-3 {
    flex-basis: calc(100% / 3);
  }

  .panel-section-4 {
    flex-basis: calc(100% / 4);
  }

  .panel-section-5 {
    flex-basis: calc(100% / 5);
  }

  .no-right-border {
    border-right: 0;
  }
}
