$panel-border-color: $background-color-dark;

.schedule {
  .schedule-subhead {
    max-width: 960px;
    margin: 0 auto 2rem;
    color: $white;
  }

  .disclaimer {
    color: $light-gray;
    font-size: 14px;
  }

  .date {
    margin: 1.5rem 0;
    padding-top: 1.5rem;
    border-top: 2px solid $primary-color;
  }

  .time {
    margin-bottom: 1rem;

    span {
      color: $secondary-color;
    }

    .secondary {
      color: $gray;
    }
  }

  .secondary {
    color: $gray;
  }

  p {
    margin: 0 0 .5rem;
    color: $gray;
    line-height: 1.2;

    &.additional-spacing {
      margin-top: .5rem;
    }
  }

  ul {
    margin: 0 0 2rem;
    padding-left: 1rem;

    li {
      margin: .5rem;
    }
  }
}

a {
  .read-more-button {
    display: inline-block;
    margin-bottom: 20px;
    padding: .25rem .5rem;
    border: 1px $primary-color solid;
    border-radius: 20px;
    color: $primary-color;
    cursor: pointer;

    &:hover {
      border-color: $primary-color-light;
      color: $primary-color-light;
    }
  }
}

.read-more-text {
  display: none;
}

// Schedule Panels
.panel-container {
  display: flex;
  flex-wrap: wrap;
}

.panel-section-3 {
  display: flex;
  flex-basis: 100%;
  flex-wrap: wrap;
  align-content: flex-start;
  border-right: 5px $panel-border-color solid;
}

.no-right-border {
  border-right: 0;
}

.panel-head {
  flex-basis: 100%;
  padding: 0 1rem;
  border-bottom: 5px $panel-border-color solid;
  background-color: $secondary-color-light;
  color: $white;
  text-align: center;

  h4 {
    margin: 1rem auto;
  }
}

.panel {
  flex-basis: 100%;
  padding: 1rem;
  border-bottom: 5px $panel-border-color solid;

  &:nth-child(odd) {
    background-color: $primary-color;
  }

  &:nth-child(even) {
    background-color: $primary-color-light;
  }

  &.break-out-header {
    background-color: $secondary-color;
  }

  &.break {
    background-color: rgba($primary-color, .5);
  }

  h4 {
    margin-bottom: .5rem;
    text-align: center;
  }

  p {
    margin: 0;
    color: $white;
  }

  span {
    display: block;
    margin-top: .5rem;
    font-size: 14px;
  }

  .read-more-text {
    margin-top: 1rem;
    font-size: 14px;
  }

  button {
    display: block;
    width: 150px;
    margin: 1rem auto 0;
  }
}

@media all and (min-width: 800px) {
  .panel-section-3 {
    flex-basis: calc(100% / 3);
  }
}
